doctype html
html(lang="en")
  head
    title Yanyi Gong | UI & UX Designer
    link(rel='stylesheet', href='css/gg.css',type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700',type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,400,800,600',type='text/css')
  body
    h1 Hi, I'm GG!
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
  footer
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='js/gg.js')
